In [1]:
import atoti as tt
import pandas as pd

In [3]:
dataframe = pd.read_csv("paris/comptage-velo-donnees-compteurs.csv", sep=";")

In [5]:
cleaned = dataframe.drop([
    'Nom du compteur', 
    'Identifiant du site de comptage', 
    "Nom du site de comptage", 
    "Date d'installation du site de comptage", 
    "Lien vers photo du site de comptage",
    "Coordonnées géographiques",
    "Identifiant technique compteur",
], axis=1)

In [ ]:
cleaned.

In [16]:
cleaned.to_csv("counter_data.csv", index=False)

In [14]:
cleaned["Date et heure de comptage"] = cleaned["Date et heure de comptage"].apply(lambda date: date.replace("+02:00", "").replace("+01:00", ""))

In [15]:
cleaned

       Identifiant du compteur  Comptage horaire Date et heure de comptage
0          100003096-353242251               0.0       2020-09-01T04:00:00
1          100003096-353242251               0.0       2020-09-01T03:00:00
2          100003096-353242251              14.0       2020-09-01T07:00:00
3          100003096-353242251               7.0       2020-09-01T06:00:00
4          100003096-353242251               3.0       2020-09-01T05:00:00
...                        ...               ...                       ...
922700     100056035-353266460              95.0       2021-10-12T13:00:00
922701     100056035-353266460              69.0       2021-10-12T14:00:00
922702     100056035-353266460              55.0       2021-10-12T15:00:00
922703     100056035-353266460             153.0       2021-10-12T19:00:00
922704     100056035-353266460               9.0       2021-10-12T22:00:00

[922705 rows x 3 columns]